.form{
	background-color: rgba(128, 0, 128, 0.5);
	width: 500px;
	height: auto;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto; 
	border-radius: 10px;
}

.formEl > input[type=text]{
	width: 60%;
}

.formEl > input[type=submit]{
	margin-bottom: 5px;
	margin-top: 15px;
}

h1{
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
}


label{
	color: white;
}


.formEl{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (max-width: 540px){
	.form{
		width: 80%;
	}
}