body{
	margin: 0px;
}


header{
	background-color: #424647;
}


nav{
	display: block;
	background-color: purple;
	margin: 0px;
	overflow: hidden;
}

nav a{
	display: inline-block;
	background-color: purple;
	color: black;
	font-size: 18px;
	padding: 14px 2%;
	float: left;
	text-decoration: none;
}

nav input[type=text] {
	float: right;
	padding: 5px 20px;
	margin-top: 10px; 
	margin-right: 10px;
	font-size: 14px;
}

nav a:hover{
	background-color: grey;
}

nav a:link, nav a:visited{   /*unvisited and visited*/
	text-decoration: none;
}


.logo{
	width: 100px;
	height: auto;
}