


.slideshow{
	display: block;
	position: relative;
	background-color: black;
	margin: 0 auto;
	width: 1000px;
	height: 500px;
}

.slide{
	width: 100%;
	display: none;
	text-align: center;
}



#numberText{
	display: inline-block; 
	position: absolute;
	text-align: left;
	background-color: rgba(128,0,128,0.8);
	z-index: 999999;
}


.slide > img{
	display: inline-block; 
	width: auto;
	height: 500px;
	z-index: 10;
	position: relative;
}

#controls{
	position: absolute;
	width: 100%;
	top: 50%;
	z-index: 900;
}

#prev, #next{
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	cursor: pointer;
	display: block;
	background-color: rgba(128,0,128,0.8);
	z-index: 999;
}

#prev{
	float: left;
}

#next{
	float: right;
}


#controls, #numberText{
	font-size: 25px;
}



#start, #stop{
	font-size: 20px;
	height: 50px;
	padding: 10px;
}

#start{
	background-color: #32CD32;
}


#stop{
	background-color: red;
}


#startStop{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}


h1{
	color: white;
}



@media only screen and (max-width: 1000px){
	
	.slideshow{
		width: 100%;
	}

	.slide > img{
		max-width: 100%;
		max-height: 100%;
	}

	.fade{
		width: auto;
		height: 500px;
	}
}



@media only screen and (max-height: 500px){
	.slideshow, .slide{
		background-color: black;
		width: 80%;
		height: 90vh;
	}

	.slide > img{
		width: auto;
		height: 90vh;
	}

	.fade{
		width: auto;
		height: 100%;
	}

}




/* Fading */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}